div#catalogue .product img.preview {
  width: 200px;
  height: 200px;
}

div#catalogue {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

div#catalogue .product {
  border-bottom: 1px solid lightgrey;
  border-width: 1px;
  padding-bottom: 15px;
  padding-top: 15px;
}

div#catalogue .product {
  display: flex;
  flex-direction: row;
}

button.addToCart {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 200px;
  height: 50px;
  color: white;
}

header {
  display: flex;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  color: white;
  justify-content: space-between;
  align-self: center;
}

header #headerLeft img{
  width: 100px;
}

header #headerRight {
  display: flex;
  align-self: center;
}

div#cart {
  position: fixed;
  right: 15px;
  bottom: 150px;
}

table {
  border-collapse: collapse;
  
}

table, tr, td, th {
  margin: 0px;
  padding: 15px;
  border: 1px solid grey;
}

table tr:nth-child(odd) td{
  background-color: #eee;
}

table tr:last-child td {
  background-color: #FFFACD;
  border-top-width: 10px;
  border-top-color: black;
}

td.quantityTable * {
  width: 25px;
  height: 25px;
  
}

th {
  background-color: #4f4f4f;
  color: white;
}

td.quantityTable button:nth-of-type(1) {
  border-radius: 10px 0px 0px 10px;
}

td.quantityTable button:nth-of-type(2) {
  border-radius: 0px 10px 10px 0px;
}

td.quantityTable button:hover {
  cursor: pointer;
}

td.quantityTable button {
  color: white;
  border: none;
  background-color: #4f4f4f;

}

body {
  margin: 0;
}

div#thanks_container {
  width: 100%;
  height: 100%;
  background-color: #139547;
}

div#thanks_container h1 {
  margin: 0;
}

div#thanks_container img {
  width: 30%;
}

div#thanks_container {
  margin: auto;
  text-align: center;
  color: white;
}

div#thanks_container a {
  color: white;
}